@model ResetPasswordVm

@{
    ViewData["Title"] = "Reset Password";
}

<div class="container-fluid">
    <!-- ========== title-wrapper start ========== -->
    <div class="title-wrapper pt-30">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="title mb-30">
                    <h2>Reset Password</h2>
                </div>
            </div>
            <!-- end col -->
            <div class="col-md-6">
                <div class="breadcrumb-wrapper mb-30">
                    <a asp-action="Index" class="btn btn-outline-secondary"><i class="lni lni-arrow-left"></i>
                        Users</a>
                </div>
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- ========== title-wrapper end ========== -->

    <div class="form-elements-wrapper">
        <form asp-action="ResetPassword">
            <input type="hidden" asp-for="Id" />
            <div class="card-style mb-30">
                <div class="card-style mb-20 border-top"
                    style="border-top: 4px solid red !important; background-color: rgb(233, 233, 233);">
                    <h6>Password Reset for <span class="text-primary"><i class="lni lni-user"></i>
                            @Model.FullName</span></h6>

                </div>

                <div class="input-style-1">
                    <label>New Password</label>
                    <input type="password" placeholder="New Password" asp-for="NewPassword" />
                    <span class="text-danger" asp-validation-for="NewPassword"></span>
                </div>
                <div class="input-style-1">
                    <label>Confirm Password</label>
                    <input type="password" placeholder="Confirm Password" asp-for="ConfirmPassword" />
                    <span class="text-danger" asp-validation-for="ConfirmPassword"></span>

                </div>
            </div>
            <button class="main-btn primary-btn square-btn btn-hover">Save</button>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}