@model CategoryDetailsVm

@{
    ViewData["Title"] = "Edit Category";
}

<div class="container-fluid">
    <!-- ========== title-wrapper start ========== -->
    <div class="title-wrapper pt-30">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="title mb-30">
                    <h2>Category's Details</h2>
                </div>
            </div>
            <!-- end col -->
            <div class="col-md-6">
                <div class="breadcrumb-wrapper mb-30">
                    <a asp-action="Index" class="btn btn-outline-secondary"><i class="lni lni-arrow-left"></i>
                        Categories</a>
                </div>
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- ========== title-wrapper end ========== -->

    <!-- ========== form-elements-wrapper start ========== -->
    <div class="form-elements-wrapper">

        <!-- input style start -->
        <div class="card-style mb-30">
            <div class="input-style-1">
                <label>Title</label>
                <input type="text" placeholder="Title" asp-for="Title"  readonly/>
            </div>

            <div class="input-style-1">
                <label>Slug</label>
                <input type="text" placeholder="Slug" asp-for="Slug" readonly />
            </div>

            <div class="input-style-1">
                <label>Description</label>
                <textarea placeholder="Description" rows="4" asp-for="Description" readonly></textarea>
            </div>

            <div class="input-style-1">
                <label>Created Date</label>
                <input type="date" placeholder="Created Date" asp-for="CreatedDate" readonly/>
            </div>
            <!-- end input -->
        </div>
        <!-- end card -->
        <!-- ======= input style end ======= -->

    </div>
</div>
<!-- end container -->

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}