@using NewsPortal.Constants
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> _userManager

@{
    var loggedInUser = await _userManager.GetUserAsync(User);
    var imageUrl = loggedInUser!.ImageUrl == null ? "/defaultImg/profile.png" : "/uploads/user/" + loggedInUser.ImageUrl;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="~/admin-theme/assets/images/favicon.png" type="image/x-icon" />
    <title>CMS - @ViewData["Title"]</title>

    <!-- ========== All CSS files linkup ========= -->
    <link rel="stylesheet" href="~/admin-theme/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/admin-theme/assets/css/lineicons.css" />
    <link rel="stylesheet" href="~/admin-theme/assets/css/materialdesignicons.min.css" />
    <link rel="stylesheet" href="~/admin-theme/assets/css/fullcalendar.css" />
    <link rel="stylesheet" href="~/admin-theme/assets/css/fullcalendar.css" />
    <link rel="stylesheet" href="~/admin-theme/assets/css/main.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" />

    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

</head>

<body>
    <!-- ======== sidebar-nav start =========== -->
    <aside class="sidebar-nav-wrapper">
        <div class="navbar-logo">
            <a asp-area="cms" asp-controller="Dashboard" asp-action="Index">
                <img src="~/admin-theme/assets/images/logo/logo.png" alt="logo" height="50px" />
            </a>
        </div>
        <nav class="sidebar-nav">
            <ul>

                <li class="nav-item">
                    <a asp-area="cms" asp-controller="Dashboard" asp-action="Index">
                        <span class="icon">
                            <svg width="22" height="22" viewBox="0 0 22 22">
                                <path
                                    d="M17.4167 4.58333V6.41667H13.75V4.58333H17.4167ZM8.25 4.58333V10.0833H4.58333V4.58333H8.25ZM17.4167 11.9167V17.4167H13.75V11.9167H17.4167ZM8.25 15.5833V17.4167H4.58333V15.5833H8.25ZM19.25 2.75H11.9167V8.25H19.25V2.75ZM10.0833 2.75H2.75V11.9167H10.0833V2.75ZM19.25 10.0833H11.9167V19.25H19.25V10.0833ZM10.0833 13.75H2.75V19.25H10.0833V13.75Z" />
                            </svg>
                        </span>
                        <span class="text">Dashboard</span>
                    </a>
                </li>

                <span class="divider">
                    <hr />
                </span>

                <li class="nav-item nav-item-has-children">
                    <a asp-area="cms" asp-controller="User" asp-action="Index" class="collapsed"
                        data-bs-toggle="collapse" data-bs-target="#ddmenu_1" aria-controls="ddmenu_1"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon">
                            <i class="lni lni-user"></i>
                        </span>
                        <span class="text">User</span>
                    </a>
                    <ul id="ddmenu_1" class="collapse dropdown-nav">
                        <li>
                            <a asp-area="cms" asp-controller="User" asp-action="Index"> All Users </a>
                        </li>
                        <li>
                            <a asp-area="cms" asp-controller="User" asp-action="Add"> Add New </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item nav-item-has-children">
                    <a asp-area="cms" asp-controller="Category" asp-action="Index" class="collapsed"
                        data-bs-toggle="collapse" data-bs-target="#ddmenu_2" aria-controls="ddmenu_2"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon">
                            <svg width="22" height="22" viewBox="0 0 22 22" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M3.66675 4.58325V16.4999H19.2501V4.58325H3.66675ZM5.50008 14.6666V6.41659H8.25008V14.6666H5.50008ZM10.0834 14.6666V11.4583H12.8334V14.6666H10.0834ZM17.4167 14.6666H14.6667V11.4583H17.4167V14.6666ZM10.0834 9.62492V6.41659H17.4167V9.62492H10.0834Z" />
                            </svg>
                        </span>
                        <span class="text">Category</span>
                    </a>
                    <ul id="ddmenu_2" class="collapse dropdown-nav">
                        <li>
                            <a asp-area="cms" asp-controller="Category" asp-action="Index"> All Categories </a>
                        </li>
                        <li>
                            <a asp-area="cms" asp-controller="Category" asp-action="Add"> Add New </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item nav-item-has-children">
                    <a asp-area="cms" asp-controller="Post" asp-action="Index" class="collapsed"
                        data-bs-toggle="collapse" data-bs-target="#ddmenu_3" aria-controls="ddmenu_3"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon">
                            <i class="lni lni-clipboard"></i>
                        </span>
                        <span class="text">Post</span>
                    </a>
                    <ul id="ddmenu_3" class="collapse dropdown-nav">
                        <li>
                            <a asp-area="cms" asp-controller="Post" asp-action="Index"> All Posts </a>
                        </li>
                        <li>
                            <a asp-area="cms" asp-controller="Post" asp-action="Add"> Add New </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </aside>
    <div class="overlay"></div>
    <!-- ======== sidebar-nav end =========== -->

    <!-- ======== main-wrapper start =========== -->
    <main class="main-wrapper">
        <!-- ========== header start ========== -->
        <header class="header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-5 col-md-5 col-6">
                        <div class="header-left d-flex align-items-center">
                            <div class="menu-toggle-btn mr-20">
                                <button id="menu-toggle" class="main-btn primary-btn btn-hover">
                                    <i class="lni lni-chevron-left me-2"></i> Menu
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-7 col-6">
                        <div class="header-right">
                            <!-- profile start -->
                            <div class="profile-box ml-15">
                                <button class="dropdown-toggle bg-transparent border-0" type="button" id="profile"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    <div class="profile-info">
                                        <div class="info">
                                            <h6>@loggedInUser.FullName</h6>
                                            <div class="image">
                                                <img src="@imageUrl" alt="" />
                                                <span class="status"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <i class="lni lni-chevron-down"></i>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profile">
                                    <li>
                                        <a asp-area="cms" asp-controller="Profile" asp-action="Index">
                                            <i class="lni lni-user"></i> View Profile
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-area="cms" asp-controller="Profile" asp-action="ChangePassword">
                                            <i class="lni lni-lock"></i> Change Password
                                        </a>
                                    </li>
                                    <li>
                                        <form asp-area="cms" asp-controller="Account" asp-action="Logout">
                                            <button id="logoutBtn" type="submit"> <i class="lni lni-exit"></i> Sign Out
                                            </button>
                                        </form>
                                    </li>
                                </ul>
                            </div>
                            <!-- profile end -->
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- ========== header end ========== -->

        <!-- ========== section start ========== -->
        <section class="section">
            @RenderBody()
        </section>
        <!-- ========== section end ========== -->

        <!-- ========== footer start =========== -->
        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 order-last order-md-first">
                        <div class="copyright text-center text-md-start">
                            <p class="text-sm">
                                Designed and Developed by
                                <a href="https://saileshrijal.com.np" rel="nofollow" target="_blank">
                                    Sailesh Rijal
                                </a>
                            </p>
                        </div>
                    </div>
                    <!-- end col-->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </footer>
        <!-- ========== footer end =========== -->
    </main>
    <!-- ======== main-wrapper end =========== -->



    <!-- ========= All Javascript files linkup ======== -->
    <script src="~/admin-theme/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/admin-theme/assets/js/Chart.min.js"></script>
    <script src="~/admin-theme/assets/js/dynamic-pie-chart.js"></script>
    <script src="~/admin-theme/assets/js/moment.min.js"></script>
    <script src="~/admin-theme/assets/js/fullcalendar.js"></script>
    <script src="~/admin-theme/assets/js/jvectormap.min.js"></script>
    <script src="~/admin-theme/assets/js/world-merc.js"></script>
    <script src="~/admin-theme/assets/js/polyfill.js"></script>
    <script src="~/admin-theme/assets/js/main.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.tiny.cloud/1/7qjkjvz7eegr5schf3b8iwvemcxjb82zvn5nvbm02u8l4xkb/tinymce/6/tinymce.min.js"
        referrerpolicy="origin"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <script>
        let table = new DataTable('#dataTable');
    </script>

    <script>
        tinymce.init({
            selector: '#editor',
            plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table | align lineheight | numlist bullist indent outdent | emoticons charmap | removeformat',
        });
    </script>
    <script>
        $(document).ready(function () {
            $('.select2').select2();
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
    @await Component.InvokeAsync("Notyf")
</body>

</html>





